style.css COMPLET — BABY CASH COIN V4

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
-webkit-tap-highlight-color:transparent;
}

body{
background:#040b1f;
color:white;
overflow-x:hidden;
padding:20px 18px 140px;
min-height:100vh;
transition:0.4s;
}

/* MODE CLAIR */

body.light{
background:#f5f7fb;
color:#111;
}

body.light .balance-card,
body.light .future-box,
body.light .history-box,
body.light .reward-header,
body.light .reward-option,
body.light .wheel-card,
body.light .market-folder,
body.light .profile-form{
background:white;
color:#111;
}

body.light .bottom-nav{
background:white;
}

body.light .nav-item{
color:#111;
}

body.light .action-btn{
color:#111;
}

/* BACKGROUND */

.bg-animation{
position:fixed;
inset:0;
overflow:hidden;
z-index:-1;
}

.bg-animation span{
position:absolute;
width:14px;
height:14px;
background:rgba(255,140,0,0.12);
border-radius:50%;
animation:float 10s linear infinite;
}

.bg-animation span:nth-child(1){
left:10%;
animation-delay:0s;
}

.bg-animation span:nth-child(2){
left:30%;
animation-delay:2s;
}

.bg-animation span:nth-child(3){
left:50%;
animation-delay:4s;
}

.bg-animation span:nth-child(4){
left:70%;
animation-delay:6s;
}

.bg-animation span:nth-child(5){
left:90%;
animation-delay:8s;
}

@keyframes float{

from{
transform:translateY(100vh);
opacity:0;
}

50%{
opacity:1;
}

to{
transform:translateY(-100px);
opacity:0;
}

}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:flex-start;
gap:15px;
}

.hello{
font-size:22px;
font-weight:bold;
margin-bottom:14px;
}

.user-level{
display:flex;
align-items:center;
gap:14px;
}

.bronze-badge{
padding:10px 16px;
border-radius:20px;
background:rgba(255,140,0,0.08);
border:1px solid orange;
color:orange;
font-weight:bold;
font-size:14px;
}

.xp-section{
width:160px;
}

.xp-top{
display:flex;
justify-content:space-between;
font-size:12px;
margin-bottom:6px;
}

.xp-bar{
height:10px;
background:rgba(255,255,255,0.08);
border-radius:30px;
overflow:hidden;
}

.xp-fill{
width:1%;
height:100%;
background:linear-gradient(
90deg,
orange,
#00ff99
);
box-shadow:0 0 15px orange;
}

.header-right{
display:flex;
align-items:center;
gap:12px;
}

/* NOTIF */

.notif-btn{
width:58px;
height:58px;
border:none;
border-radius:50%;
background:rgba(255,255,255,0.06);
color:white;
font-size:22px;
position:relative;
backdrop-filter:blur(10px);
box-shadow:0 0 20px rgba(255,140,0,0.08);
}

.notif-btn::after{
content:'';
position:absolute;
top:10px;
right:10px;
width:12px;
height:12px;
background:orange;
border-radius:50%;
animation:pulseNotif 1.2s infinite;
}

@keyframes pulseNotif{

0%{
transform:scale(1);
opacity:1;
}

50%{
transform:scale(1.5);
opacity:0.4;
}

100%{
transform:scale(1);
opacity:1;
}

}

/* THEME SWITCH */

.theme-switch{
position:relative;
width:72px;
height:38px;
display:block;
}

.theme-switch input{
display:none;
}

.slider{
position:absolute;
inset:0;
background:#10172c;
border-radius:50px;
border:1px solid rgba(255,140,0,0.3);
box-shadow:0 0 20px rgba(255,140,0,0.1);
}

.slider::before{
content:'🌙';
position:absolute;
width:30px;
height:30px;
background:orange;
border-radius:50%;
top:3px;
left:4px;
display:flex;
justify-content:center;
align-items:center;
transition:0.4s;
}

.theme-switch input:checked + .slider::before{
transform:translateX(34px);
content:'☀️';
}

/* LOGO */

.bcc-logo{
width:80px;
height:80px;
padding:4px;
border-radius:50%;
background:linear-gradient(
90deg,
orange,
white,
green
);
box-shadow:0 0 25px rgba(255,140,0,0.4);
}

.bcc-inner{
width:100%;
height:100%;
border-radius:50%;
background:#091224;
display:flex;
justify-content:center;
align-items:center;
font-size:26px;
font-weight:bold;
}

/* FUTURE */

.future-box{
margin-top:25px;
padding:22px;
border-radius:28px;
background:linear-gradient(
135deg,
#ffb300,
#ff6600
);
overflow:hidden;
box-shadow:0 0 25px rgba(255,140,0,0.25);
}

.future-title{
font-size:21px;
font-weight:bold;
margin-bottom:10px;
}

.future-slider{
overflow:hidden;
white-space:nowrap;
}

.future-track{
display:inline-block;
animation:slide 16s linear infinite;
font-size:16px;
font-weight:bold;
}

.future-track span{
margin-right:80px;
}

@keyframes slide{

0%{
transform:translateX(100%);
}

100%{
transform:translateX(-100%);
}

}

/* SOLDE */

.balance-card{
position:relative;
overflow:hidden;
margin-top:24px;
padding:28px;
border-radius:35px;
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,140,0,0.15);
backdrop-filter:blur(14px);
min-height:270px;
box-shadow:0 0 25px rgba(255,140,0,0.08);
}

.eye-btn{
position:absolute;
right:20px;
top:20px;
width:50px;
height:50px;
border:none;
border-radius:50%;
background:rgba(255,255,255,0.06);
color:white;
font-size:20px;
z-index:5;
}

.bridge-art{
position:absolute;
inset:0;
opacity:0.25;
}

.bridge-line{
position:absolute;
bottom:70px;
left:0;
right:0;
height:3px;
background:orange;
}

.bridge-tower{
position:absolute;
bottom:70px;
width:4px;
background:orange;
}

.tower-1{
height:120px;
left:38%;
}

.tower-2{
height:170px;
left:65%;
}

.bridge-glow{
position:absolute;
bottom:30px;
right:40px;
width:170px;
height:80px;
border-bottom:3px solid #00ff99;
transform:skewX(-30deg);
}

.balance-title{
font-size:18px;
color:#cfcfcf;
}

.balance-main{
display:flex;
align-items:flex-end;
gap:10px;
margin-top:25px;
}

.balance-main h1{
font-size:85px;
line-height:1;
}

.balance-main span{
font-size:42px;
margin-bottom:10px;
color:orange;
font-weight:bold;
}

.cfa-section{
margin-top:30px;
}

.cfa-live{
display:flex;
align-items:center;
gap:12px;
margin-top:10px;
}

.cfa-live h2{
font-size:42px;
color:#00ff66;
text-shadow:0 0 15px #00ff66;
}

.pulse-dot{
width:16px;
height:16px;
border-radius:50%;
background:#00ff66;
animation:blink 1s infinite;
}

@keyframes blink{

0%{
opacity:0.4;
}

50%{
opacity:1;
}

100%{
opacity:0.4;
}

}

/* ACTIONS */

.actions{
margin-top:30px;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:14px;
}

.action-btn{
background:none;
border:none;
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
color:white;
}

.action-circle.modern{
width:82px;
height:82px;
border-radius:28px;
background:rgba(255,140,0,0.08);
border:1px solid rgba(255,140,0,0.25);
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
box-shadow:0 0 20px rgba(255,140,0,0.12);
backdrop-filter:blur(10px);
}

/* HISTORIQUE */

.history-box{
margin-top:30px;
padding:35px;
border-radius:30px;
background:rgba(255,255,255,0.05);
text-align:center;
}

.history-icon{
font-size:45px;
margin-bottom:14px;
}

.history-links{
margin-top:18px;
display:flex;
flex-direction:column;
gap:14px;
}

.contact-btn{
height:55px;
border:none;
border-radius:18px;
background:#1aa8ff;
color:white;
font-size:17px;
font-weight:bold;
}

.logout-btn{
height:55px;
border:none;
border-radius:18px;
background:#ff3d3d;
color:white;
font-size:17px;
font-weight:bold;
}

/* RECOMPENSE */

.hidden{
display:none;
}

.reward-page{
margin-top:25px;
}

.reward-header{
padding:30px;
border-radius:30px;
background:rgba(255,255,255,0.05);
text-align:center;
}

.reward-balance{
margin-top:15px;
font-size:42px;
font-weight:bold;
color:orange;
}

.reward-progress{
height:10px;
background:rgba(255,255,255,0.08);
border-radius:20px;
overflow:hidden;
margin-top:20px;
}

.reward-progress-fill{
width:10%;
height:100%;
background:linear-gradient(
90deg,
orange,
#00ff99
);
}

.reward-options{
margin-top:25px;
display:grid;
gap:15px;
}

.reward-option{
padding:22px;
border-radius:25px;
background:rgba(255,255,255,0.05);
display:flex;
align-items:center;
gap:15px;
}

.reward-icon{
width:68px;
height:68px;
border-radius:22px;
background:rgba(255,140,0,0.08);
display:flex;
justify-content:center;
align-items:center;
font-size:32px;
}

/* ROUE */

.wheel-folder{
margin-top:25px;
}

.wheel-card{
padding:30px;
border-radius:35px;
background:rgba(255,255,255,0.05);
}

.wheel-wrapper{
display:flex;
justify-content:center;
position:relative;
}

.wheel-pointer{
position:absolute;
top:-10px;
width:22px;
height:22px;
background:orange;
border-radius:50%;
z-index:5;
}

.wheel{
width:300px;
height:300px;
border-radius:50%;
border:10px solid orange;
position:relative;
background:
conic-gradient(
#101010 0deg 60deg,
#1a1a1a 60deg 120deg,
#242424 120deg 180deg,
#2e2e2e 180deg 240deg,
#383838 240deg 300deg,
#444 300deg 360deg
);
transition:5s cubic-bezier(.17,.67,.19,.99);
box-shadow:0 0 30px rgba(255,140,0,0.4);
}

.wheel-label{
position:absolute;
font-size:17px;
font-weight:bold;
color:white;
}

.l1{top:25px;left:115px;}
.l2{top:70px;right:35px;}
.l3{top:150px;right:10px;}
.l4{bottom:70px;right:30px;}
.l5{bottom:25px;left:105px;}
.l6{top:150px;left:10px;}

.wheel-center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:90px;
height:90px;
border-radius:50%;
background:orange;
display:flex;
justify-content:center;
align-items:center;
font-size:24px;
font-weight:bold;
}

.spin-btn{
width:100%;
margin-top:25px;
height:60px;
border:none;
border-radius:22px;
background:linear-gradient(
135deg,
#ffb300,
#ff6600
);
font-size:20px;
font-weight:bold;
}

/* MARCHÉ */

.market-page{
margin-top:25px;
display:grid;
gap:20px;
}

.market-folder{
padding:25px;
border-radius:30px;
background:rgba(255,255,255,0.05);
}

.market-folder h2{
margin-bottom:12px;
font-size:24px;
}

.partner-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-top:20px;
}

.partner-card{
padding:18px;
border-radius:22px;
background:rgba(255,255,255,0.04);
text-decoration:none;
color:white;
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
}

.partner-logo{
width:65px;
height:65px;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
font-weight:bold;
}

.admob{
background:#4285f4;
}

.unity{
background:#222;
}

.applovin{
background:#ff6600;
}

.simple-buttons{
display:grid;
gap:14px;
margin-top:20px;
}

.simple-buttons button{
height:58px;
border:none;
border-radius:18px;
background:rgba(255,140,0,0.08);
color:white;
font-size:16px;
}

/* PROFIL */

.profile-page{
margin-top:25px;
}

.profile-avatar{
width:130px;
height:130px;
border-radius:50%;
background:rgba(255,140,0,0.08);
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
margin:auto;
margin-bottom:20px;
border:2px dashed orange;
}

.profile-page h2{
text-align:center;
margin-bottom:25px;
}

.profile-form{
padding:25px;
border-radius:30px;
background:rgba(255,255,255,0.05);
display:flex;
flex-direction:column;
gap:15px;
}

.profile-form input{
height:58px;
border:none;
border-radius:18px;
padding:0 18px;
font-size:16px;
outline:none;
}

.verify-btn{
height:58px;
border:none;
border-radius:18px;
background:#1aa8ff;
color:white;
font-size:17px;
font-weight:bold;
}

.save-btn{
height:58px;
border:none;
border-radius:18px;
background:linear-gradient(
135deg,
#ffb300,
#ff6600
);
color:white;
font-size:18px;
font-weight:bold;
}

/* NAVBAR */

.bottom-nav{
position:fixed;
bottom:15px;
left:15px;
right:15px;
height:100px;
border-radius:35px;
background:#0c1224;
display:flex;
justify-content:space-around;
align-items:center;
z-index:50;
box-shadow:0 0 25px rgba(255,140,0,0.12);
}

.nav-item{
background:none;
border:none;
display:flex;
flex-direction:column;
align-items:center;
gap:5px;
color:white;
font-size:13px;
}

.nav-item i{
font-size:24px;
}

.nav-item.active{
color:orange;
}

.center-nav{
width:105px;
height:105px;
border:none;
border-radius:50%;
background:linear-gradient(
135deg,
#ffb300,
#ff6600
);
margin-top:-60px;
display:flex;
justify-content:center;
align-items:center;
box-shadow:0 0 30px rgba(255,140,0,0.4);
overflow:hidden;
}

.center-circle{
width:88%;
height:88%;
border-radius:50%;
background:#091224;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
padding:10px;
}

.bcc-scroll{
white-space:nowrap;
animation:bccscroll 10s linear infinite;
font-size:13px;
font-weight:bold;
color:white;
}

@keyframes bccscroll{

0%{
transform:translateX(100%);
}

100%{
transform:translateX(-100%);
}

}

/* POPUP */

.popup{
position:fixed;
bottom:130px;
left:50%;
transform:translateX(-50%);
background:#111827;
padding:18px 26px;
border-radius:20px;
font-size:16px;
opacity:0;
pointer-events:none;
transition:0.3s;
z-index:100;
text-align:center;
max-width:85%;
}

.popup.show{
opacity:1;
  }
